<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837617362111-sa7n0moodvnli2vaj2u90eh6rihmdt4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837617362111-sa7n0moodvnli2vaj2u90eh6rihmdt4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAF7QTw6JgcXRLOZaWvoBab9agHVCsus8w</string>
	<key>GCM_SENDER_ID</key>
	<string>837617362111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vergel.com.beepAplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beep-5ab63</string>
	<key>STORAGE_BUCKET</key>
	<string>beep-5ab63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837617362111:ios:911f3de01f3acefa27520a</string>
</dict>
</plist>